# OLTP_ENDPOINT используется для трансферинга otel логов и трейсеров в OLTP систему. Если не указано, то логи не будут отправляться в OLTP систему.
OLTP_ENDPOINT=

# API_BASE_PATH используется для указания базового пути API. Обязательное поле.
API_BASE_PATH=/api

# API_ALLOWED_HOSTS используется для указания разрешенных хостов для API. Обязательное поле.
API_ALLOWED_HOSTS=http://*:8080

# DB_HOST используется для указания хоста базы данных. Обязательное поле.
DB_HOST=localhost

# DB_HOST используется для указания хоста базы данных. Обязательное поле.
DB_PORT=3306

# DB_NAME используется для указания имени базы данных. Обязательное поле.
DB_NAME=db

# DB_USER используется для указания имени пользователя базы данных. Обязательное поле.
DB_USER=root

# DB_USER используется для указания пароля пользователя базы данных. Обязательное поле.
DB_PASSWORD=root