@import "tailwindcss";

@layer components {
    .frame {
        @apply rounded-2xl p-2;

        background: rgb(255 255 255 / 0.02);
        backdrop-filter: blur(24px);

        box-shadow:
            inset 0 0 8px rgba(0, 0, 0, 0.12),
            inset 0 2px 4px rgba(0, 0, 0, 0.10),
            inset 0 -2px 4px rgba(0, 0, 0, 0.10),
            inset 2px 0 4px rgba(0, 0, 0, 0.10),
            inset -2px 0 4px rgba(0, 0, 0, 0.10),
            0 12px 24px rgba(0, 0, 0, 0.25);
    }

    .frame.frame-header {
        @apply font-bold text-2xl py-2 px-3;
    }
}